/* General styles.
 * The following will apply settings-wide.
----------------------------------------------------------------------------- */
.woo-store-vacation-upsell-sidebar {
	width: 300px;
}

.woo-store-vacation-get-pro {
	background: #181818;
	border: 1px solid;
	border-color: #dedede;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	margin-top: 34px;
	padding: 24px;
}

.woo-store-vacation-get-pro-logo {
	margin: -50px auto 16px;
	max-height: 75px;
	max-width: 75px;
	position: relative;
	z-index: 2;
}

.woo-store-vacation-get-pro-title {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
}

.woo-store-vacation-get-pro-features {
	padding-left: 0;
}

.woo-store-vacation-get-pro-cta a {
	background-color: #c62a88;
	border: 1px solid #c62a88;
	border-radius: 4px;
	color: inherit;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 16px;
	margin-top: 0;
	padding: 11px 24px;
	text-align: center;
	text-decoration: none;
	transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.woo-store-vacation-get-pro-cta a:hover {
	background-color: #e11d74;
	border-color: #e11d74;
}

.woo-store-vacation-get-pro-rate {
	margin-top: 24px;
}

.woo-store-vacation-get-pro-rate a {
	color: inherit;
	text-decoration: none;
}

.woo-store-vacation-get-pro-rate a:hover strong {
	text-decoration: underline;
}
