/* Rate styles.
 * The following will apply all rate (review on wp.org) plugin-wide.
----------------------------------------------------------------------------- */
#woo-store-vacation-dismiss-rate {
	border-left-color: #00818a;
}

#woo-store-vacation-dismiss-rate .dashicons {
	color: #c62a88;
	vertical-align: sub;
}

#woo-store-vacation-dismiss-rate .button-link {
	margin-left: 10px;
}

#woo-store-vacation-dismiss-rate .button-primary,
#woo-store-vacation-dismiss-rate .button-primary:focus,
#woo-store-vacation-dismiss-rate .button-primary:active {
	background-color: #c62a88;
	border-color: #c62a88;
}
